[flake8]
enable-extensions =
    flake8-absolute-import,
    flake8-broken-line,
    flake8-bugbear,
    flake8-builtins,
    flake8-clean-block,
    flake8-commas,
    flake8-comments,
    flake8-comprehensions,
    flake8-continuation,
    flake8-dunder-all,
    flake8-eradicate,
    flake8-expression-complexity,
    flake8-fixme,
    flake8-forbidden-func,
    flake8-implicit-str-concat,
    flake8-import-guard,
    flake8-import-order,
    flake8-mutable,
    flake8-print,
    flake8-return,
    flake8-type-ignore,
    flake8-use-pathlib,
    pep8-naming,

exclude=venv/,env/,.venv/,*/media/,

per-file-ignores =
    */migrations/*.py:E501,I201,I100,DALL000,C812,
    */manage.py:DALL000,

max-line-length=79
inline-quotes=double
import-order-style=google
max-expression-complexity=10
application-import-names=apps.model3d,
